@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Shop.ViewModels.ChangePasswordViewModel
@inject Shop.Services.UrlService urlService
@{
    var previousUrl = urlService.GetPreviousUrl();
}
<h1>Change password</h1>
<hr />
<br />
<br />
<form asp-action="ChangePassword" method="post" id="change-password-form">
    <div class="form-group">
        <label>Current password</label>
        <input asp-for="CurrentPassword" class="form-control" id="current-password"/>
        <small id="current-password-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label>New password</label>
        <input asp-for="NewPassword" class="form-control" id="new-password"/>
        <small id="new-password-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label>Re-type password</label>
        <input asp-for="ConfirmPassword" class="form-control" id="confirm-password"/>
        <small id="confirm-password-error"></small>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <input type="submit" value="Save" class="btn btn-dark change-password-save-btn"/>
</form>
<a href="@previousUrl"><input type="button" value="Cancel" class="btn btn-primary change-password-cancel-btn"/></a>
<script src="~/js/changePasswordValidation.js"></script>