@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <div id="greeting">
        <h4 class="display-1">Witaj w naszym sklepie!</h4>
        <h2 class="display-2">Tu na pewno znajdziejsz coś dla siebie!</h2>
        <br />
    </div>
    <br />
    <h1 id="most_popular_products" class="display-5">Najpopularniejsze produkty:</h1>
</div>
<style>
    #greeting{
        background-image: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
        color: white;
        border-radius: 20px;
    }
    #most_popular_products{
        margin-right: 20%;
        text-align: left;
        width: 100%;    
    }
</style>
