@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align: center;">Payment Page</h>
<hr />
    @if (Model.OrderPaid)
    {
        <h3 style="text-align: center;">You've already paid for the order</h3>
    }
    else{
        <a  style="text-align: center;" asp-controller="Order" asp-action="Pay" asp-route-orderToken="@Model.OrderToken"><button class="btn btn-dark">Pay with @Model.PaymentMethod</button></a>
    }