@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "See more";
}
<h1 class="display-5 item-name-details">@Model.Name</h1>
<div class="photo-block-details"><img class="item-photo-details" src="~/img/monitorImages/@Model.MonitorPhoto"/></div>
<div class="item-parameters-details">
    <p>Price: @Model.Price</p>
    <p>Resolution: @Model.Resolution</p>
    <p>Refreshening: @Model.Refreshening</p>
</div>
<ul class="counter-details">
    <li class="btn btn-dark minus-details" id="minus-details" onclick="decrease()">-</li>
    <li class="btn"><input style="width: 30px" disabled value="0" id="number-details"/></li>
    <li class="btn btn-dark plus-details" id="plus-details" onclick="increase()">+</li>
</ul>
<a><button class="btn btn-success add-to-cart-btn"><i class="bi bi-cart"></i>Add to cart</button></a>
<script>
    var plus = document.getElementById("plus-details");
    var minus = document.getElementById("minus-details");
    var number = document.getElementById("number-details");
    var num = 0;
    var max = 30;
    var min = 0;

    function increase(){
        num += 1;
        if(num >= max){
            num = max;
        }
        number.value = num;
        number.innerHTML = num;
    }
    function decrease(){
        num -= 1;
        if(num <= 0){
            num = min;
        }
        number.value = num;
        number.innerHTML = num;
    }
</script>
